<div class="ui-g ui-fluid">
    <div class="ui-g-4 body-panel-start">
        <div class="ContentSideSections Implementation">
            <form autocomplete="off" [formGroup]="baseForm" novalidate>
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12 body-panel-start">
                        <srm-formcontrol text="Eski şifre" for="name">
                            <input type="password" autocomplete="off" placeholder="Şifre" class="ui-inputtext ui-widget"
                                id="oldPassword" name="oldPassword" formControlName="oldPassword" pValidationTooltip
                                [control]="baseForm.controls.oldPassword">
                        </srm-formcontrol>
                        <srm-formcontrol text="Yeni şifre " for="name" [formGroup]="baseForm.controls.passwords">
                            <input type="password" autocomplete="off" placeholder="Şifre" class="ui-inputtext ui-widget"
                                id="newPassword" name="newPassword" formControlName="newPassword" pValidationTooltip
                                [control]="baseForm.controls.passwords['controls'].newPassword">
                        </srm-formcontrol>
                        <srm-formcontrol text="Yeni şifre " for="name" [formGroup]="baseForm.controls.passwords">
                            <input type="password" autocomplete="off" placeholder="Şifre" class="ui-inputtext ui-widget"
                                id="confirmNewPassword" name="confirmNewPassword" formControlName="confirmNewPassword"
                                pValidationTooltip [control]="baseForm.controls.passwords['controls'].newPassword">
                        </srm-formcontrol>
                    </div>
                </div>
                <div class="ui-g">
                    <div class="ui-g-12">
                        <div class="ui-g-12 ui-md-4">
                            <button type="button" pButton (click)="changePassword()" label="Şifre Değiştir"></button>
                        </div>
                        <div class="ui-g-12 ui-md-8">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
